// COLOR
// -----------------------------------------------------------------------------

// Primary

$color-brand-regular: hsl(220, 100%, 40%);
$color-brand-light-a: hsl(220, 100%, 96%);
$color-brand-light-b: hsl(220, 100%, 92%);
$color-brand-light-c: hsl(220, 100%, 88%);
$color-brand-dark-a: hsl(220, 100%, 36%);
$color-brand-dark-b: hsl(220, 100%, 32%);
$color-brand-dark-c: hsl(220, 100%, 28%);

// Neutral

$color-neutral-regular: hsl(0, 0%, 20%);
$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-light-a: hsl(0, 0%, 92%);
$color-neutral-light-b: hsl(0, 0%, 88%);
$color-neutral-light-c: hsl(0, 0%, 84%);
$color-neutral-medium: hsl(0, 0%, 60%);
