// COLOR
// -----------------------------------------------------------------------------

// Primary

$color-brand-regular: hsl(212, 84%, 40%);
$color-brand-light-a: hsl(212, 84%, 96%);
$color-brand-light-b: hsl(212, 84%, 92%);
$color-brand-light-c: hsl(212, 84%, 88%);
$color-brand-dark-a: hsl(212, 84%, 36%);
$color-brand-dark-b: hsl(212, 84%, 32%);
$color-brand-dark-c: hsl(212, 84%, 28%);

// Neutral

$color-neutral-regular: hsl(0, 0%, 24%);
$color-neutral-light-a: hsl(0, 0%, 96%);
$color-neutral-light-b: hsl(0, 0%, 92%);
$color-neutral-light-c: hsl(0, 0%, 88%);
$color-neutral-medium: hsl(0, 0%, 58%);

// White

$color-white-regular: hsl(0, 0%, 100%);
