// DECORATION
// -----------------------------------------------------------------------------

// Border width

$border-width-regular: 1px;

// Border radius

$border-radius-regular: 4px;
$border-radius-full: 8000px;
