// DECORATION
// -----------------------------------------------------------------------------

// Border width

$border-width-regular: 1px;
$border-width-thick: 2px;

// Border radius

$border-radius-regular: 4px;
$border-radius-whole: 720px;
