// DECORATION
// Define common cosmetic enhancements.
// -----------------------------------------------------------------------------

// Border width

// Establish a standard border width.
$border-width-regular: 1px;
// Provide a thick border width.
$border-width-thick: 2px;

// Border radius

// Establish a standard border radius.
$border-radius-regular: 4px;
// Provide a border radius that produces fully rounded corners.
$border-radius-whole: 720px;
