// LAYOUT
// -----------------------------------------------------------------------------

// Content

$content-max-width: 1240px;

// Grid

$grid-regular: (
  default: (
    2,
    1.5rem,
  ),
  tablet: (
    3,
    1.5rem,
  ),
  laptop: (
    4,
    2.5rem,
  ),
);
