// LAYOUT
// -----------------------------------------------------------------------------

// Container

$container-max-width: 1240px;

// Grid

$gap-regular: 1.25rem;
$gap-large: 2.5rem;

$grid-regular: (
  default: (
    column-count: 2,
    gap: $gap-regular,
  ),
  tablet: (
    column-count: 6,
  ),
  laptop: (
    column-count: 12,
    gap: $gap-large,
  ),
);
