// SPACING
// -----------------------------------------------------------------------------

// Space

$space-regular: 1rem;
$space-large-a: 2.5rem;
$space-large-b: 1.5rem;
$space-small-a: 0.75rem;
$space-small-b: 0.625rem;
$space-small-c: 0.25rem;
