// SPACING
// Designate generic spacing values.
// -----------------------------------------------------------------------------

// Space

// Establish a standard space value.
$space-regular: 1rem;
// Provide a set of large space values.
$space-large-1: 2.5rem;
$space-large-2: 2rem;
$space-large-3: 1.5rem;
// Provide a set of small space values.
$space-small-1: 0.75rem;
$space-small-2: 0.625rem;
$space-small-3: 0.5rem;
$space-small-4: 0.375rem;
