// TYPOGRAPHY
// Define basic type attributes.
// -----------------------------------------------------------------------------

// Font family

// Establish a standard font stack. Target default system fonts in Safari and
// Chrome on macOS and iOS using keywords, then identify a set of preferred
// system fonts, a standard fallback, and finally ensure emojis and other
// symbols are rendered correctly using several special fonts.
$font-family-regular: -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
// Provide a monospace font stack. Identify a set of preferred system fonts and
// a standard fallback.
$font-family-monospace: SFMono-Regular, Menlo, Consolas, monospace;

// Font size

// Establish a root font size that is a percentage of the browser default, which
// is usually 16px, so that some other browser default can be specified without
// it being overridden. This also simplifies making sweeping typographic changes
// by providing a reference value for all rems.
$root-font-size: 100%;
// Establish a standard font size.
$font-size-regular: 1rem;
// Provide a set of large font sizes.
$font-size-large-1: 3rem;
$font-size-large-2: 2rem;
$font-size-large-3: 1.5rem;

// Line height

// Establish a standard line height.
$line-height-regular: 1.5;
// Provide a set of small line heights.
$line-height-small-1: 1.33333333;
$line-height-small-2: 1.25;
$line-height-small-3: 1.16666666;

// Font weight

// Establish a standard font weight.
$font-weight-regular: 400;
// Provide a bold font weight.
$font-weight-bold: 700;
