// TYPOGRAPHY
// -----------------------------------------------------------------------------

// Font family

$font-family-regular: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Consolas, monospace;

// Font size

$root-font-size: 100%;
$font-size-regular: 1rem;
$font-size-large-a: 3rem;
$font-size-large-b: 2rem;
$font-size-large-c: 1.5rem;

// Line height

$line-height-regular: 1.5;
$line-height-small-a: 1.33333333;
$line-height-small-b: 1.25;
$line-height-small-c: 1.16666666;

// Font weight

$font-weight-regular: 400;
$font-weight-bold: 700;
