// BUTTON
// Perform clearly defined actions.
// -----------------------------------------------------------------------------

.button {
  display: inline-block;
  padding: $space-small-2 $space-regular;
  border: 0;
  border-radius: $border-radius-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  text-align: center;
  color: $color-neutral-white;
  background-color: $color-primary-regular;

  &:hover {
    background-color: $color-primary-dark-1;
  }

  &:focus {
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    background-color: $color-primary-dark-2;
  }

  &:active {
    background-color: $color-primary-dark-3;
  }

  &:disabled {
    color: $color-neutral-medium;
    background-color: $color-neutral-light-1;
  }

  // Plain

  &--plain {
    color: $color-primary-regular;
    background-color: transparent;

    &:hover {
      background-color: $color-primary-light-1;
    }

    &:focus {
      background-color: $color-primary-light-2;
    }

    &:active {
      background-color: $color-primary-light-3;
    }

    &:disabled {
      background-color: transparent;
    }
  }
}
