// BUTTON
// -----------------------------------------------------------------------------

@use "../settings" as *;

.button {
  display: inline-block;
  padding: $space-small-b $space-regular;
  border: 0;
  border-radius: $border-radius-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  text-align: center;
  color: $color-neutral-white;
  background-color: $color-brand-regular;

  &:hover {
    background-color: $color-brand-dark-a;
  }

  &:focus {
    outline: 0;
    background-color: $color-brand-dark-b;
  }

  &:active {
    background-color: $color-brand-dark-c;
  }

  &:disabled {
    color: $color-neutral-medium;
    background-color: $color-neutral-light-a;
  }
}

// Plain

.button-plain {
  color: $color-brand-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-brand-light-a;
  }

  &:focus {
    background-color: $color-brand-light-b;
  }

  &:active {
    background-color: $color-brand-light-c;
  }

  &:disabled {
    background-color: transparent;
  }
}
