// BUTTON
// -----------------------------------------------------------------------------

@use "../settings" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: calc(#{$space-small-b} - #{$border-width-regular}) calc(#{$space-regular} - #{$border-width-regular});
  border: $border-width-regular solid transparent;
  border-radius: $border-radius-regular;
  text-align: center;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  color: $color-white-regular;
  background-color: $color-brand-regular;
  user-select: none;

  &:hover {
    background-color: $color-brand-dark-a;
  }

  &:active {
    background-color: $color-brand-dark-b;
  }

  &:disabled {
    color: $color-neutral-medium;
    background-color: $color-neutral-light-a;
    pointer-events: none;
  }
}

// Plain

.button-plain {
  color: $color-brand-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-brand-light-a;
  }

  &:active {
    background-color: $color-brand-light-b;
  }

  &:disabled {
    background-color: transparent;
  }
}
