// CONTAINER
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/set-breakpoint" as *;

.container {
  max-width: $container-max-width;
  padding-right: $space-large-c;
  padding-left: $space-large-c;
  margin-right: auto;
  margin-left: auto;

  @include set-breakpoint(tablet) {
    padding-right: $space-large-a;
    padding-left: $space-large-a;
  }
}
