// CONTAINER
// -----------------------------------------------------------------------------

.container {
  max-width: $content-max-width;
  padding-right: $space-large-3;
  padding-left: $space-large-3;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint(tablet) {
    padding-right: $space-large-1;
    padding-left: $space-large-1;
  }
}
