// GLOBAL HEADER
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/breakpoint" as *;

.global-header {
  display: flex;
  flex-direction: column;

  &-brand {
    padding-top: $space-small-b;
    padding-bottom: $space-small-b;
    font-size: $font-size-large-c;
    line-height: 1;
    font-weight: $font-weight-bold;
    color: $color-brand-regular;
  }

  &-navigation {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  &-navigation-item {
    &:not(:last-child) {
      margin-right: $space-large-b;
    }
  }

  &-navigation-link {
    display: inline-block;
    padding-top: $space-small-b;
    padding-bottom: $space-small-b;
    color: $color-neutral-regular;

    &:hover {
      color: $color-brand-regular;
    }
  }

  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}
