// GRID
// -----------------------------------------------------------------------------

@use "sass:map";
@use "sass:string";
@use "../settings" as *;
@use "../helpers/set-breakpoint" as *;

.grid {
  display: grid;

  @each $breakpoint-name, $grid-description in $grid-regular {
    @include set-breakpoint($breakpoint-name) {
      $grid-name: string.slice(#{&}, 2);
      $breakpoint-prefix: if($breakpoint-name != "default", #{$breakpoint-name}\:, null);
      $column-count: map.get($grid-description, "column-count");
      $gap: map.get($grid-description, "gap");

      grid-template-columns: repeat($column-count, 1fr);
      gap: $gap;

      @for $i from 1 through $column-count {
        @at-root .#{$breakpoint-prefix}#{$grid-name}-column-#{$i} {
          grid-column: span #{$i};
        }
      }
    }
  }
}
