// HEADING
// -----------------------------------------------------------------------------

@use "../settings" as *;

.heading-a {
  margin-bottom: $space-large-b;
  font-size: $font-size-large-a;
  line-height: $line-height-small-c;
}

.heading-b {
  margin-bottom: $space-regular;
  font-size: $font-size-large-b;
  line-height: $line-height-small-b;
}

.heading-c {
  margin-bottom: $space-small-c;
  font-size: $font-size-large-c;
  line-height: $line-height-small-a;
}

.heading-d {
  margin-bottom: 0;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
}
