// HEADING
// -----------------------------------------------------------------------------

@use "../settings" as *;

.heading-1 {
  margin-bottom: 0;
  font-size: $font-size-large-a;
  line-height: $line-height-small-c;
}

.heading-2 {
  margin-bottom: 0;
  font-size: $font-size-large-b;
  line-height: $line-height-small-b;
}

.heading-3 {
  margin-bottom: 0;
  font-size: $font-size-large-c;
  line-height: $line-height-small-a;
}

.heading-4 {
  margin-bottom: 0;
  font-size: $font-size-large-d;
  line-height: $line-height-small-a;
}

.heading-5 {
  margin-bottom: 0;
  font-size: $font-size-large-e;
  line-height: $line-height-small-a;
}

.heading-6 {
  margin-bottom: 0;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
}
