// LINK
// -----------------------------------------------------------------------------

.link {
  padding-bottom: 0.0625em;
  border-bottom: $border-width-regular solid;
  color: $color-primary-regular;

  &:hover {
    border-width: $border-width-thick;
  }
}

// Plain

.link-plain {
  border-color: transparent;

  &:hover {
    border-width: $border-width-regular;
    border-color: $color-primary-regular;
  }
}
