// LINK
// Reference new content.
// -----------------------------------------------------------------------------

.link {
  // Distance bottom border from descenders.
  padding-bottom: 0.0625em;
  // Mind that the border color defaults to the current text color unless
  // otherwise specified.
  border-bottom: $border-width-regular solid;
  color: $color-primary-regular;

  &:hover {
    border-width: $border-width-thick;
  }

  // Plain

  &--plain {
    border-color: transparent;

    &:hover {
      border-width: $border-width-regular;
      border-color: $color-primary-regular;
    }
  }
}
