// LINK
// -----------------------------------------------------------------------------

@use "../settings" as *;

.link {
  color: $color-brand-regular;
  text-decoration: underline;
  text-decoration-color: $color-brand-medium;
  text-underline-offset: 0.25rem;

  &:hover {
    text-decoration-color: $color-brand-regular;
  }
}

// Plain

.link-plain {
  border-color: transparent;

  &:hover {
    border-width: $border-width-regular;
    border-color: $color-brand-regular;
  }
}
