// LIST
// Present related items in a continuous format.
// -----------------------------------------------------------------------------

.list {
  &__item {
    padding-top: $space-small-4;
    padding-bottom: $space-small-4;
  }

  &__link {
    // Distance bottom border from descenders.
    padding-bottom: 0.0625em;
    border-bottom: $border-width-regular solid transparent;
    color: $color-neutral-regular;

    &:hover {
      border-color: $color-neutral-regular;
    }
  }
}
