// RADIO
// -----------------------------------------------------------------------------

@use "../settings" as *;

.radio {
  width: 1.5rem;
  height: 1.5rem;
  border: $border-width-regular solid $color-neutral-medium;
  border-radius: $border-radius-full;
  vertical-align: middle;
  background-color: $color-white-regular;
  cursor: pointer;
  -webkit-appearance: none;

  &:checked {
    border-color: $color-brand-regular;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><circle cx='8' cy='8' r='5' fill='%23fff'/></svg>");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-brand-regular;
  }

  &:disabled {
    border-color: $color-neutral-light-b;
  }
}

// Label

.radio-label {
  padding-right: $space-small-c;
  padding-left: $space-small-c;
  vertical-align: middle;
  cursor: pointer;

  &.is-disabled {
    color: $color-neutral-medium;
    cursor: default;
  }
}
