// TABLE
// -----------------------------------------------------------------------------

@use "../settings" as *;

.table {
  width: 100%;

  &-caption {
    padding: $space-small-a $space-regular;
    font-weight: $font-weight-bold;
    text-align: left;
  }

  &-header,
  &-data {
    padding: $space-small-a $space-regular calc(#{$space-small-a} - #{$border-width-regular});
    border-bottom: $border-width-regular solid $color-neutral-light-b;
    vertical-align: top;
  }

  &-header {
    text-align: left;
  }
}
