// TABLE
// Display data in rows and columns.
// -----------------------------------------------------------------------------

.table {
  width: 100%;

  &__caption {
    padding: $space-small-1 $space-regular;
    font-weight: $font-weight-bold;
    text-align: left;
  }

  &__header,
  &__data {
    // Employ `calc()` to ensure precise alignment with items that use the same
    // spacing values but lack a border.
    padding: $space-small-1 $space-regular
      calc(#{$space-small-1} - #{$border-width-regular});
    border-bottom: $border-width-regular solid $color-neutral-light-2;
    vertical-align: top;
  }

  &__header {
    text-align: left;
  }
}
