// TABLE
// -----------------------------------------------------------------------------

.table {
  width: 100%;

  &-caption {
    padding: $space-small-1 $space-regular;
    font-weight: $font-weight-bold;
    text-align: left;
  }

  &-header,
  &-data {
    padding: $space-small-1 $space-regular calc(#{$space-small-1} - #{$border-width-regular});
    border-bottom: $border-width-regular solid $color-neutral-light-2;
    vertical-align: top;
  }

  &-header {
    text-align: left;
  }
}
