// TEXTFIELD
// -----------------------------------------------------------------------------

@use "../settings" as *;

.textfield {
  display: block;
  width: 100%;
  padding: calc(#{$space-small-b} - #{$border-width-regular}) calc(#{$space-small-a} - #{$border-width-regular});
  border: $border-width-regular solid $color-neutral-medium;
  border-radius: $border-radius-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  color: $color-neutral-regular;
  background-color: $color-white-regular;

  &:disabled {
    border-color: $color-neutral-light-b;
  }
}

// Select

.textfield-select {
  &:not([size]):not([multiple]) {
    height: calc(#{$font-size-regular} * #{$line-height-regular} + 2 * #{$space-small-b});
  }
}

// Label

.textfield-label {
  cursor: pointer;

  &.is-disabled {
    color: $color-neutral-medium;
    cursor: default;
  }
}
