// TEXTFIELD
// -----------------------------------------------------------------------------

@use "../settings" as *;

.textfield {
  display: block;
  width: 100%;
  padding: calc(#{$space-small-2} - #{$border-width-regular}) calc(#{$space-regular} - #{$border-width-regular});
  border: $border-width-regular solid $color-neutral-medium;
  border-radius: $border-radius-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  color: $color-neutral-regular;
  background-color: $color-neutral-white;

  &:focus {
    padding: calc(#{$space-small-2} - #{$border-width-thick}) calc(#{$space-regular} - #{$border-width-thick});
    border-width: $border-width-thick;
    border-color: $color-primary-regular;
    outline: 0;
  }

  &:disabled {
    border-color: $color-neutral-light-3;
  }
}

// Select

.textfield-select {
  &:not([size]):not([multiple]) {
    height: calc(#{$font-size-regular} * #{$line-height-regular} + 2 * #{$space-small-2});
  }
}

// Label

.textfield-label {
  cursor: pointer;

  &.disabled {
    color: $color-neutral-medium;
    cursor: default;
  }
}
