// TOGGLE
// Alternate between states on one or more options.
// -----------------------------------------------------------------------------

.toggle {
  width: 1.25rem;
  height: 1.25rem;
  border: $border-width-regular solid $color-neutral-medium;
  border-radius: $border-radius-regular;
  vertical-align: middle;
  background-color: $color-neutral-white;
  cursor: pointer;
  // Allow complete styling in all browsers.
  -webkit-appearance: none;

  &:focus {
    border-color: $color-primary-regular;
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    box-shadow: 0 0 0 1px $color-neutral-white,
                0 0 0 3px $color-primary-regular;
  }

  &:checked {
    border-color: $color-primary-regular;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-primary-regular;
  }

  &:disabled {
    border-color: $color-neutral-light-3;
  }

  // Checkbox

  &[type="checkbox"] {
    &:checked {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'><path d='M1.74421 4.58579L0.33 6L4.57264 10.2426L11.6437 3.17157L10.2295 1.75736L4.57264 7.41421L1.74421 4.58579Z' fill='%23fff'/></svg>");
    }
  }

  // Radio

  &[type="radio"] {
    border-radius: $border-radius-whole;

    &:checked {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'><path d='M6 2C3.78667 2 2 3.78667 2 6C2 8.21333 3.78667 10 6 10C8.21333 10 10 8.21333 10 6C10 3.78667 8.21333 2 6 2Z' fill='%23fff'/></svg>");
    }
  }

  // Label
  // Mind that labels are separate support elements, not descendants.

  &-label {
    padding-left: $space-small-3;
    cursor: pointer;

    &.disabled {
      color: $color-neutral-medium;
      cursor: default;
    }
  }
}
