// RESET
// Remove unnecessary defaults, apply several useful ones, and fix browser
// inconsistencies.
// -----------------------------------------------------------------------------

// Universal

// Change box model on all elements and pseudo-elements so that their width and
// height include border and padding values.
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Root

html {
  // Establish rem reference value.
  font-size: $root-font-size;
}

// Body

body {
  // Fill viewport height.
  min-height: 100vh;
  margin: 0;
  font-family: $font-family-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  font-weight: $font-weight-regular;
  color: $color-neutral-regular;
}

// Address

address {
  font-style: normal;
}

// Heading

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  // Consolidate bottom margins for the sake of simplicity.
  margin-bottom: 1rem;
  font-weight: $font-weight-bold;
}

h1 {
  // Normalize font size when inside `article`, `aside`, `nav`, and `section`
  // elements.
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

// Blockquote

blockquote {
  margin: 0 0 1rem;
}

// Definition, ordered, and unordered list

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;

  // Remove superfluous styles from lists with a class attribute.
  &[class] {
    padding-left: 0;
    list-style: none;
  }

  & ol,
  & ul {
    margin-bottom: 0;
  }
}

dt {
  font-weight: $font-weight-bold;
}

dd {
  margin-left: 0;
}

// Figure

figure {
  margin: 0 0 1rem;
}

// Thematic break

hr {
  // Normalize overflow in Chrome.
  overflow: visible;
  // Emulate default horizontal rule while allowing other decorations to be
  // easily defined.
  height: 0.125rem;
  border: 0;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: $color-neutral-light-2;
}

// Paragraph

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

// Preformatted text

pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $font-family-monospace;

  code {
    // Override default font size because it is unsuitable for nested elements.
    font-size: inherit;
  }
}

// Anchor

// Simplify anchor default look because, as an integral part of various
// components, it will require different bespoke styles.
a {
  text-decoration: none;
  // Remove tap highlight in Chrome and Safari.
  -webkit-tap-highlight-color: transparent;
}

// Abbreviation

abbr[title] {
  cursor: help;
}

// Bold and strong

b,
strong {
  font-weight: $font-weight-bold;
}

// Code, user input, and sample output

code,
kbd,
samp {
  font-family: $font-family-monospace;
}

code,
kbd {
  font-size: 0.875em;
}

kbd {
  kbd {
    // Override default font size because it is unsuitable for nested elements.
    font-size: inherit;
  }
}

// Small

small {
  font-size: 0.875em;
}

// Subscript and superscript

sub,
sup {
  position: relative;
  font-size: 0.75em;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// Audio, canvas, iframe, image, and video

audio,
canvas,
iframe,
img,
video {
  // Switch display style to cover most common use cases and remove the extra
  // space below.
  display: block;
}

img,
video {
  // Prevent overflow when parent width is exceeded.
  max-width: 100%;
  // Maintain aspect ratio when a height attribute is set.
  height: auto;
}

// Scalable vector graphics

svg {
  // Switch vertical alignment style to cover most common use cases and remove
  // the extra space below.
  vertical-align: middle;
}

// Table

table {
  border-collapse: collapse;
}

// Button, input, select, and textarea

button,
input,
select,
textarea {
  // Remove margins from all selected elements in Safari, from `checkbox` and
  // `radio` inputs in all browsers, and from `textarea` elements in Firefox.
  margin: 0;
  // Normalize font properties. Mind that line height cannot be changed on
  // `select` elements.
  font: inherit;
  // Remove tap highlight in Chrome and Safari.
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    cursor: default;
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  // Provide consistent baseline styles in Chrome and Safari on macOS and iOS.
  -webkit-appearance: button;

  // Remove inner border on focus in Firefox.
  &::-moz-focus-inner {
    border: 0;
  }
}

button,
select {
  // Remove text transform inheritance in Firefox.
  text-transform: none;
}

::-webkit-file-upload-button {
  // Normalize font properties.
  font: inherit;
  // Provide consistent baseline styles in Chrome and Safari on macOS and iOS.
  -webkit-appearance: button;
}

[type="search"] {
  // Correct outline offset in Safari.
  outline-offset: -2px;
  // Provide consistent baseline styles in Chrome and Safari on macOS and iOS.
  -webkit-appearance: textfield;

  // Remove extra inner space in Safari.
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

textarea {
  resize: vertical;
}

// Fieldset

fieldset {
  // Emulate minimum width of all other block elements.
  min-width: 0;
  padding: 0;
  border: 0;
  margin-right: 0;
  margin-left: 0;
}

legend {
  // Emulate width of all other block elements.
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  font-weight: $font-weight-bold;
}

// Label

label {
  display: inline-block;
}

// Meter and progress

meter,
progress {
  height: 1rem;
}

meter {
  width: 5rem;
}

progress {
  width: 10rem;
}

// Dialog

dialog {
  padding: 1rem;
}

// Summary

summary {
  // Correct display style in Chrome and Safari.
  display: list-item;
  cursor: pointer;
}
