// RESET
// -----------------------------------------------------------------------------

@use "../settings" as *;

// Universal

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Root

:root {
  font-size: $root-font-size;
}

// Focus

:focus:not(:focus-visible) {
  outline: 0;
}

// Body

body {
  min-height: 100vh;
  margin: 0;
  font-family: $font-family-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  font-weight: $font-weight-regular;
  color: $color-neutral-regular;
  background-color: $color-white-regular;
  -webkit-tap-highlight-color: transparent;
}

// Address

address {
  font-style: normal;
}

// Blockquote

blockquote {
  margin: 0 0 1rem;
}

// Definition, ordered, and unordered list

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;

  &[class] {
    list-style: none;
  }

  & ol,
  & ul {
    margin-bottom: 0;
  }
}

dt {
  font-weight: $font-weight-bold;
}

dd {
  margin-left: 0;
}

// Figure

figure {
  margin: 0 0 1rem;
}

// Heading

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: $font-weight-bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

// Thematic break

hr {
  overflow: visible;
  height: 0.125rem;
  border: 0;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: $color-neutral-light-c;
}

// Paragraph

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

// Preformatted text

pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $font-family-monospace;

  code {
    font-size: inherit;
  }
}

// Table

table {
  border-collapse: collapse;
}

// Audio, canvas, iframe, image, and video

audio,
canvas,
iframe,
img,
video {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

// Button, input, select, and textarea

button,
input,
select,
textarea {
  margin: 0;
  font: inherit;

  &:disabled {
    cursor: default;
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;

  &::-moz-focus-inner {
    border: 0;
  }
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

textarea {
  resize: vertical;
}

// Fieldset

fieldset {
  min-width: 0;
  padding: 0;
  border: 0;
  margin-right: 0;
  margin-left: 0;
}

legend {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  font-weight: $font-weight-bold;
}

// Label

label {
  display: inline-block;
}

// Meter and progress

meter,
progress {
  height: 1rem;
}

meter {
  width: 5rem;
}

progress {
  width: 10rem;
}

// Anchor

a {
  text-decoration: none;
}

// Abbreviation

abbr[title] {
  cursor: help;
}

// Bold and strong

b,
strong {
  font-weight: $font-weight-bold;
}

// Code, user input, and sample output

code,
kbd,
samp {
  font-family: $font-family-monospace;
}

code,
kbd {
  font-size: 0.875em;
}

kbd {
  kbd {
    font-size: inherit;
  }
}

// Small

small {
  font-size: 0.875em;
}

// Subscript and superscript

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// Dialog

dialog {
  padding: 1rem;
}

// Summary

summary {
  display: list-item;
  cursor: pointer;
}
