// GRID
// -----------------------------------------------------------------------------

@mixin grid($grid) {
  display: grid;

  @each $breakpoint-name, $grid-description in $grid {
    @include breakpoint($breakpoint-name) {
      $grid-name: str-slice(#{&}, 2);
      $breakpoint-prefix: if($breakpoint-name != "default", #{$breakpoint-name}\:, null);
      $column-count: nth($grid-description, 1);
      $gap-size: nth($grid-description, 2);

      grid-template-columns: repeat($column-count, 1fr);
      grid-gap: $gap-size;

      @for $i from 1 through $column-count {
        @at-root .#{$breakpoint-prefix}#{$grid-name}-column-#{$i} {
          grid-column: span #{$i};
        }
      }
    }
  }
}
